html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #6c6f73;
}

h1, h2, h3, h4, h5 {
  color: #333;
}

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

img {
  max-width: 100%;
}

.blockquote {
  font-size: 1.6rem;
  color: #333;
  border: none;
  padding: 0;
}

.blockquote-footer {
  margin: 1rem 0 0;
}

/*---end housekeeping ---*/

#stage {
  background: url('img/stage.jpg') center center no-repeat;
  background-size: cover;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
}

#stage-caption {
  font-size: 1.4rem;
  font-weight: 400;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

#stage-caption h1 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.feature-content {
  padding: 8rem 0;
  overflow: hidden;
}

.feature-content img {
  margin-bottom: -8rem;
}

.feature-dark {
  background: #262F36;
  color: #fff;
}

.feature-dark h2 {
  color: #fff;
}

.feature-alt {
  background: #F0F0F0;
}

#feature-four .feature-content {
  padding: 0;
}

#feature-five img {
  margin-top: 2rem;
}

#main-footer {
  background: #262F36;
  color: #fff;
  padding: 6rem 0;
  font-size: 0.8rem;
}

#main-footer h6 {
  color: #718FA9;
}

#main-footer a {
  color: #6C6F73;
}

/* Media Queries */

@media screen and ( min-width: 991px ) {
  .feature-content {
    display: flex;
    align-items: center;
  }
}